:root {
    --primary: #fff;
    --secondary: #cebbff;
    --tertiary: #e7deff;
    --accent: #2f1e5a;
    --font: "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

header {
    display: grid;
    grid-template-columns: 30px auto 44px;
    align-items: end;
    padding: 1rem;
    border-bottom: solid 1px var(--primary);
    column-gap: 8px;
    background-color: var(--secondary);
}

header img {
    display: block;
    width: 44px;
    height: 44px;
}

header span {
    padding-bottom: .4rem;
    padding-left: 1rem;
    font-size: 100%;
}

.hamburger {
    min-height: 44px;
    min-width: 44px;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    grid-column: 3;
    grid-row: 1;
}

.hamburger::after {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::after {
    content: "\00D7";
    font-size: 2rem;
}

.navigation {
    margin: .5rem;
    padding: .5rem;
    border: none;
    display: none;
    grid-column: 1 / -1;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
}

.navigation a {
    display: block;
    padding: .8rem;
    color: black;
    text-decoration: none;
    border-bottom: solid 1px var(--tertiary);
    border-top: solid 1px var(--tertiary);
}

.navigation li.current a {
    color: var(--accent);
}

.navigation a:hover {
    text-decoration: overline;
}

h1 {
    font-size: 300%;
    margin: 1rem;
    padding: .2rem;
}

h2 {
    margin: 1rem;
    pad: .2rem;
}

.hero h1 {
    background-color: var(--tertiary);
    padding: .5rem;
    position: absolute;
    border: double 5px var(--accent);
}

.hero {
    position: relative;
}

.hero-image {
    display: block;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.background {
    inset: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2f1e5a7c;
}

.background p {
    width: 160px;
    top: 250px;
    left: 150px;
    position: absolute;
    background-color: #2f1e5ac9;
    color: var(--tertiary);
    font-size: 180%;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    border: dashed 2px var(--secondary);
}

.action-btn {
    position: absolute;
    top: 450px;
    left: 160px;
    padding: 2rem;
    font-size: 150%;
    font-weight: bold;
    background-color: var(--secondary);
    border: solid 2px var(--accent);
    border-radius: 5%;
}

.action-btn:hover {
    background-color: var(--accent);
    color: var(--primary);
}

.buttons {
    justify-self: center;
    padding: 1rem;
}

.buttons button {
    width: 120px;
    padding: .6rem;
    margin: 0 1rem;
    border: solid 2px var(--secondary);
    border-radius: 5%;
    background-color: var(--tertiary);
    font-size: 120%;
}

.buttons button:hover {
    background-color: var(--primary);
}

.current-events {
    margin: 1rem;
    justify-self: center;
    width: 400px;
    background-color: var(--tertiary);
    border: double 5px var(--secondary);
    padding: 1rem;
}

.current-events p {
    padding: .1rem;
    margin-left: .2rem;
    display: list-item;
    list-style-type: disc;
}

.current-events h2 {
    padding-bottom: 1rem;
    color: var(--accent);
}

.current-events h3 {
    color: var(--accent);
    padding: .2rem;
    text-decoration: underline;
}

.current-events div {
    padding: .5rem;
    border-top: solid 2px var(--secondary) ;
}

.businesses, .spotlights {
    margin: .5rem;
    padding: .5rem;
    justify-self: center;
}

.businesses section, .spotlights section {
    background-color: var(--secondary);
    padding: .5rem;
    margin: 2rem;
}


.businesses p, .spotlights p {
    padding: .5rem;
}

.spotlights h2, .weather h2 {
    grid-column: 1/4;
}

.weather div {
    text-align: center;
    padding: .5rem;
    margin: 1rem;
    background-color: var(--primary);
    border: double 5px var(--secondary);
    font-size: 140%;
    align-content: center;
}

.weather p {
    border-top: solid 2px var(--secondary);
    padding: .5rem;
    margin: .5rem 2rem;
}

.forecast div {
    border: none;
}

.list section {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.list section:nth-child(even) {
    background-color: var(--tertiary);
}

.list h2, .list p {
    font-size: 75%;
    align-self: center;
}

.list h2 {
    width: 80px;
}

.list section img {
    width:  44px;
    height: 44px;
    padding: .2rem;
}

.list .label {
    display: none;
}

.grid .label {
    display: inline;
}

.grid img, .grid h2 {
    display: block;
    justify-self: center;
    padding: .5rem;
}

.grid section {
    box-shadow: 8px 8px 16px 0px var(--accent);
    border: double 2px var(--tertiary);
    min-height: 420px;
}

.grid h2 {
    border-bottom: solid 2px var(--tertiary);
    margin: .5rem;
    font-size: 170%;
}

.grid p {
    border-left: solid 2px var(--tertiary);
}

footer {
    padding: 1rem;
    background-color: var(--secondary);
}

footer div {
    padding: .5rem;
}

footer div p, footer div a, footer div span {
    padding: .2rem;
}

.spans {
    display: flex;
    flex-direction: column;
}

.social {
    display: flex;
    background-color: var(--secondary);
    justify-content: center;
    padding: .5rem;
    border-bottom: solid 5px var(--accent);
    border-top: solid 5px var(--accent);
}

.social img:hover {
    filter: brightness(0) invert(1);
}

.social img {
    width: 44px;
    height: 44px;
}