@media only screen and (min-width: 640px) {
    .discover h1 {
        width: 100%;
    }

    .items section {
            grid-template-areas:
                "name name"
                "picture description"
                "picture address"
                "button button";
        }

    .items button {
        width: 80%;
    }

    .items img:hover {
        filter: blur(4px);
    }
}