@media only screen and (min-width: 1000px) {

    main {
        margin: 0 auto;
    }

    header {
        grid-template-columns: 60px 2fr 1fr;
        background-color: #cebbff;
    }

    header span, header img {
        font-size: 200%;
        align-self: center;
    }

    .navigation {
        padding-left: 1rem;
        display: block;
        grid-column: 3/4;
    }

    .navigation li.current a {
        text-decoration: overline;
    }

    .hamburger {
        display: none;
    }

    .navigation a {
        border: none;
    }

    ul {
        display: flex;
    }

    .buttons button {
        width: 150px;
    }
    
    .hero-image {
        max-width: 1600px;
        min-height: 750px;
    }

    .background {
        height: 700;
    }

    .background p {
        left: 190px;
    }

    .action-btn {
        left: 200px;
    }

    .weather {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .forecast {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .weather h1, .forecast h3 {
        grid-column: 1/4;
    }

    .current-events {
        margin: 0;
        width: 500px;
        position: absolute;
        top: 135px;
        right: 30px;
    }

    .list h2, .list p {
        font-size: 130%;
    }

    .list h2 {
        width: auto;
        padding-right: 1rem;
    }

    .list section img {
        width: 50px;
        height: 50px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    footer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .social {
        border: none;
    }
}