@media only screen and (min-width: 1024px) {

    main {
        justify-self: center;
    }

    header {
        grid-template-columns: 60px 2fr 1fr;
    }

    header h1, header img {
        font-size: 200%;
        align-self: center;
    }
    
    .navigation {
        padding-left: 1rem;
        display: block;
        grid-column: 3/4;
        justify-self: right;
    }
    
    .navigation li.current a {
        text-decoration: overline;
    }
    
    .hamburger {
        display: none;
    }
    
    .navigation a {
        border: none;
    }
    
    ul {
        display: flex;
    }

    .fav {
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-image-medium {
        display: block;
        width: 100%;
        height: 350px;
        overflow: hidden;
    }

    .introduction-text span, .introduction-text h1 {
        font-size: 500%;
        max-width: 700px;
    }

    .introduction-text span:nth-of-type(1) {
        top: 200px;
    }

    .introduction-text span:nth-of-type(2) {
        top: 300px;
    }

    .introduction-text p {
        left: 40px;
        top: 500px;
        max-width: 500px;
        font-size: 200%;
        text-align: left;
    }

    .library-text h1, .recommendations-text h1, .favorite-text h1 {
        top: 100px;
    }

    .library-text p, .recommendations-text p, .favorite-text p {
        top: 200px;
        left: 40px;
    }

    .explore-btn {
        left: 40px;
    }

    .information {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .slider-dots {
        display: none;
    }

    .filters {
        justify-content: space-evenly;
    }

    .filters select {
        width: 180px;
        text-align: center;
        padding: 1rem;
        font-size: 150%;
    }

    .featured {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .featured h3 {
        font-size: 180%;
    }

    .featured p {
        font-size: 150%;
    }

    .featured section {
        min-height: 420px;
    }

    .numeric-rating {
        display: inline;
    }

    .modals {
        width: 50%;
    }

    .modals div:nth-of-type(2) {
        font-size: 200%;
    }

    .modals div:nth-of-type(3) {
        font-size: 200%;
        text-align: center;
    }
                

    .modals img {
        padding-top: 2rem;
    }

    .recommendations-info  {
        display: flex;
    }

    form {
        width: 1000px;
        justify-self: left;
    }

    .works {
        margin: 2rem;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .works h2 {
        align-self: flex-start;
        font-size: 300%;
    }

    .works div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 200%;
        flex: 1;
    }

    .works img {
        display: block;
        align-self: center;
        width: 150px;
        height: 150px;
    }



    footer {
        padding: 2rem;
        font-size: 120%;
        justify-content: space-evenly;
        align-items: center;
    }
        
    footer p {
        margin: 0;
        padding: 0;
    }
        
    footer section {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        column-gap: 1.5rem;
        width: 350px;
    }
        
    .icons {
        grid-row: 1/4;
        justify-self: right;
        margin-right: -1rem;
        width: 55px;
        height: 55px;
    }
        
    .icons img {
        width: 50px;
        height: 50px;
    }
}